<div id="navbar">
    <ul id="navlist">
        <li><a href="index.html" class="{% if page.url == '/index.html' %}active{% endif %}">Home</a></li>
        <li><a href="usage.html" class="{% if page.url == '/usage.html' %}active{% endif %}">Usage</a></li>
        <li><a href="projects.html" class="{% if page.url == '/projects.html' %}active{% endif %}">Projects</a></li>
        <li><a href="papers.html" class="{% if page.url == '/papers.html' %}active{% endif %}">Papers</a></li>
        <li><a href="data.html" class="{% if page.url == '/data.html' %}active{% endif %}">Data</a></li>
        <li><a href="contributors.html" class="{% if page.url == '/contributors.html' %}active{% endif %}">Contributors</a></li>
    </ul>
</div>