<div id="twitter_header" style="background: url('static/ohmagehome/icons/outlink-small-gray.png') no-repeat right center; padding: 3px; padding-left: 0px;">quick links</div>

<p style="text-indent: 0;"><b>for end-users</b></p>

<ul class="graphical">
    <li class="ohmage"><a target="_blank" href="http://demo.ohmage.org/flows/default/">installing and using ohmage</a></li>
    <li class="mobility"><a target="_blank" href="http://demo.ohmage.org/flows/mobility/">installing and using Mobility</a></li>
</ul>

<p style="text-indent: 0;"><b>for developers</b></p>

<ul class="graphical">
    <li class="github"><a target="_blank" href="https://github.com/ohmage/android-lib">ohmage android app</a></li>
    <li class="github"><a target="_blank" href="https://github.com/cens/server">ohmage server</a></li>
    <li class="github"><a target="_blank" href="https://github.com/ohmage/gwt-front-end">ohmage front-end</a></li>
    <li class="github"><a target="_blank" href="https://github.com/ohmage/">all ohmage github repositories</a></li>
</ul>