<div id="twitter_header" style="background: url('static/ohmagehome/icons/outlink-small-gray.png') no-repeat right center; padding: 3px; padding-left: 0px;">quick links</div>

<p style="text-indent: 0;"><b>for end-users</b></p>

<ul class="graphical">
    <li class="ohmage"><a target="_blank" href="http://demo.ohmage.org/flows/default/">installing and using ohmage</a></li>
    <li class="mobility"><a target="_blank" href="http://demo.ohmage.org/flows/mobility/">installing and using Mobility</a></li>

    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Ohmage Android Guide.pdf">ohmage android guide</a>
        (<a target="_blank" href="static/ohmagehome/docs/Ohmage Android Guide.AppendixA.pdf">appdx.</a>)</li>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Android OHMAGE FAQ.pdf">ohmage android FAQ</a></li>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Ohmage MWF Guide.pdf">ohmage mwf guide</a>
        (<a target="_blank" href="static/ohmagehome/docs/Ohmage MWF Guide.AppendixA.pdf">appdx.</a>)</li>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/MWF OHMAGE FAQ.pdf">ohmage mwf FAQ</a></li>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Mobility Guide.pdf">Mobility guide</a></li>
</ul>

<p style="text-indent: 0;"><b>for developers</b></p>

<ul class="graphical">
    <li class="github"><a target="_blank" href="https://github.com/ohmage/android-lib">ohmage android app</a></li>
    <li class="github"><a target="_blank" href="https://github.com/cens/server">ohmage server</a></li>
    <li class="github"><a target="_blank" href="https://github.com/ohmage/gwt-front-end">ohmage front-end</a></li>
    <li class="github"><a target="_blank" href="https://github.com/ohmage/mobility-phone">mobility android app</a></li>
    <li class="github"><a target="_blank" href="https://github.com/ohmage/">all ohmage github repositories</a></li>

    <li class="document"><a target="_blank" href="/static/ohmagehome/docs/Mobility tech report (dec 2013 v2).pdf">mobility technical writeup</a></li>
</ul>

        <!--
<p style="text-indent: 0;"><b>documentation</b></p>

<ul class="graphical">
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Android OHMAGE FAQ.pdf">ohmage android FAQ</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Mobility Guide.pdf">Mobility guide</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/MWF OHMAGE FAQ.pdf">iOS ohmage mwf FAQ</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Ohmage Android Guide.AppendixA.pdf">ohmage android guide, appdx A</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Ohmage Android Guide.pdf">ohmage android guide</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Ohmage Install Guide.pdf">ohmage install guide</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Ohmage MWF Guide.AppendixA.pdf">iOS ohmage mwf guide, appdx A</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Ohmage MWF Guide.pdf">iOS ohmage mwf guide</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Ohmage Web Guide for PARTICIPANTS.pdf">ohmage web guide for participants</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Ohmage Web Guide for RESEARCHERS.pdf">ohmage web guide for researchers</a>
    <li class="document"><a target="_blank" href="static/ohmagehome/docs/Researcher FAQ.pdf">ohmage reseacher FAQ</a>
    <li class="document"><a target="_blank" href="/static/ohmagehome/docs/Mobility tech report (dec 2013 v2).pdf">mobility technical writeup</a></li>
</ul>
        -->